{% extends "base.html.twig" %}


{% block title %}
    Article
{% endblock title %}

    

    {% block content %}
        <div id="list">
            {% for play in plays %}
                <div class="Play">
                    <h1>{{ play.name }}</h1>
                    <iframe width="560" height="315" src={{ play.source}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <!--<a href="{{ path('article_show', {'id': play.id}) }}">show</a>-->
                </div>
                {% else %}
                <p>Aucun article trouvé </p>
            {% endfor %}
        </div>
    {% endblock content %}

    
