{% extends "base.html.twig" %}


{% block title %}
    Article
{% endblock title %}

    

    {% block content %}
        {% for article in articles %}
            <div class="Article">
                <h1>{{ article.name }}</h1>
                <p>{{ article.Description }}</p>
                <p>{{ article.Date ? article.Date|date('Y-m-d') : '' }}</p>
                <a href="{{ path('article_show', {'id': article.id}) }}">show</a>
            </div>
            {% else %}
            <p>Aucun article trouvé </p>
        {% endfor %}
       
    {% endblock content %}

    
