{% extends 'base.html.twig' %}

{% block title %}New POTW{% endblock %}

{% block content %}
    <h1>Create new POTW</h1>

    {{ include('potw_crud/_form.html.twig') }}

    <a href="{{ path('p_o_t_w_crud_index') }}">back to list</a>
{% endblock %}
